.hero-div {
  margin: auto;
  max-width: 90%;
  position: relative;

  .hero {
    max-width: 100%;
    height: 50%;
    align-items: center;
    object-fit: cover;
  }
  .titre-site {
    position: absolute;
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    /* décalage de 50% de sa propre taille */
    width: 100%;
    padding: 20px;
    transform: translate(-50%, -100%);
  }

  h1 {
    background-color: rgba(95, 211, 95, 0.5);
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: "Dancing Script", cursive;
    position: absolute;
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    @media (max-width: 885px) {
      font-size: 22px;
    }

  }
}

section {

  h2 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    @media (max-width: 885px) {
      font-size: 30px;
    }
  }
  .boutonduo {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 885px) {
      width: 100%;
    }
    .btn1 {
      margin-right: 30px;
      border: rgba(95, 211, 95, 0.5) 1px solid;
      background: none;
      padding: 10px 25px;
      background: rgba(95, 211, 95, 0.74);
      transition: all 0.5s;
      @media (max-width: 885px) {
        margin-right: 10px;
      }
      &:hover {
        color: white;
        background: rgba(95, 211, 95, 0.5);
        transition: all 0.5s;
      }
    }
    .btn2 {
      margin-left: 30px;
      border: none;
      background: rgba(95, 211, 95, 0.74);
      padding: 10px 25px;
      @media (max-width: 885px) {
        margin-left: 10px;
      }

      &:hover {
        color: rgba(95, 211, 95, 0.671);
        background: white;
        border: rgba(95, 211, 95, 0.5) 1px solid;
        transition: all 0.5s;
      }
    }
  }
  h3 {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    margin: 2px auto;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
section {
  width: 90%;
  margin: 30px auto;
  margin-bottom: 50px;

  .carte {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
