.culture {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: auto;
  text-align: center;
  &:nth-child(3),
  &:nth-child(2),
  &:nth-child(1) {
    margin-bottom: 200px;
  }

  @media (max-width: 885px) {
    flex-direction: column;
    &:nth-child(3) {
      margin-bottom: 170px;
    }
  }
  div {
    font-size: 14px;
    line-height: 18px;
    img {
      text-align: center;
      width: 70%;
      margin: auto;
    }
  }
}
.legumes {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  @media (max-width: 885px) {
    flex-direction: column;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 45%;

    &:nth-child(45) {
      margin-bottom: 250px;
    }

    @media (max-width: 885px) {
      width: 90%;
      margin: auto;
    }

    img {
      margin: auto;
      width: 70%;
      text-align: center;
    }
    h4 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 885px) {
        font-size: 28px;
      }
    }
    p {
      text-align: center;
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
}
