#contact-container {
  width: 100%;
  margin-top: 50px;

  .contact-texte {
    padding: 20px;
    width: 90%;
    display: flex;
    margin: auto;
    @media (max-width: 885px) {
      flex-direction: column;
      width: 100%;
    }
    p {
      font-size: 18px;
      margin-top: 30px;
      padding: 10px;
      width: 100%;
      @media (max-width: 885px) {
        flex-direction: column;
        width: 100%;
        font-size: 18px;
      }
    }
   .social {
    display: flex;
    margin-left: 50px;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      @media (max-width: 885px) {
        justify-content: center;
        width: 100%;
        margin: 20px auto;
      }
      img {
        width: 40px;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin: 30px auto 200px;
    border: 2px solid green;
    width: 100%;
    @media (max-width: 885px) {
      width: 90%;
      margin-bottom: 200px;
    }

    label {
      margin: 5px;
      font-size: 20px;
      color: green;
    }
    input {
      margin: 20px;
      padding: 10px;
      width: 100%;
      @media (max-width: 885px) {
        width: 90%;
      }
    }
    textarea {
      margin: 20px;
      padding: 10px;
      width: 100%;
      @media (max-width: 885px) {
        width: 90%;
      }
    }
    input[type="submit"] {
      margin-top: 10px;

      &:hover {
        color: green;
      }
    }
  }
}
