#contact-container {
  width: 100%;

  margin-top: 50px;
  @media (max-width: 885px) {
  }

  .contact-texte {
    padding: 20px;
    width: 90%;
    display: flex;
    margin: auto;
    @media (max-width: 885px) {
      flex-direction: column;
      width: 100%;
    }

    .contact-titre {
      position: static;
      background-color: rgba(95, 211, 95, 0.5);
      font-size: 40px;
      text-align: center;
      color: white;
      padding: 10px;
      font-family: "Dancing Script", cursive;
      width: 100%;
    }
    p {
      padding: 20px;
      width: 60%;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin: 30px auto 200px;
    border: 2px solid green;
    width: 30%;
    @media (max-width: 885px) {
      width: 90%;
      margin-bottom: 200px;
    }

    label {
      margin: 10px;
      font-size: 20px;
      color: green;
    }
    input {
      margin: 20px;
      padding: 20px;
      width: 100%;
      @media (max-width: 885px) {
        width: 90%;
      }
    }
    textarea {
      margin: 20px;
      padding: 10px;
      width: 100%;
      @media (max-width: 885px) {
        width: 90%;
      }
    }
    input[type="submit"] {
      margin-top: 10px;

      &:hover {
        color: green;
      }
    }
  }
}
